<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${working_set:&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;launchConfigurationWorkingSet factoryID=&quot;org.eclipse.ui.internal.WorkingSetFactory&quot; id=&quot;1251894254617_13&quot; label=&quot;launchConfigurationWorkingSet&quot; name=&quot;launchConfigurationWorkingSet&quot;&gt;&#10;&lt;item factoryID=&quot;org.eclipse.ui.internal.model.ResourceFactory&quot; path=&quot;/StyleCalendar/WebContent/VAADIN/widgetsets&quot; type=&quot;2&quot;/&gt;&#10;&lt;/launchConfigurationWorkingSet&gt;}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="/System/Library/Frameworks/JavaVM.framework/Versions/1.6/Home/bin/java"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="-Djava.awt.headless=true -Xss8M -Xmx500M -XstartOnFirstThread -classpath &quot;/System/Library/Frameworks/JavaVM.framework/Versions/1.6.0/Classes/classes.jar:/Applications/eclipse/configuration/com.vaadin.integration.eclipse/download/gwt-dev/1.7.0/gwt-dev-mac.jar:/Applications/eclipse/configuration/com.vaadin.integration.eclipse/download/gwt-user/1.7.0/gwt-user.jar:/Users/ripla/Documents/workspace/StyleCalendar/src:/Users/ripla/Documents/workspace/StyleCalendar/WebContent/WEB-INF/lib/vaadin-6.1.1.jar&quot; com.vaadin.tools.WidgetsetCompiler -out WebContent/VAADIN/widgetsets com.itmill.incubator.stylecalendar.StyleCalendarWidgetset"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${project_loc:/StyleCalendar}"/>
</launchConfiguration>
